<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Katansky Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description"
	      content="This blog about some interesting solutions in front-end development as well as about ordinary things described in simplest matter">
	<meta name="author" content="Vladimir Katansky">

	<!-- Stylesheets -->
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/css/summernote.css" rel="stylesheet"/>
	<link href="/css/fancybox/jquery.fancybox.css?v=2.1.4" rel="stylesheet" media="screen"/>
	<link href="/css/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" rel="stylesheet" media="screen"/>
	<link href="/css/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" rel="stylesheet" media="screen"/>
	<link href="/css/font-awesome.min.css" rel="stylesheet"/>
	<link href="/css/styles.css" rel="stylesheet"/>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

</head>
<body>
<%- body %>
<script src="/js/app.js"></script>
</body>
</html>