<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Blog Vladimir Katansky & Co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description"
	      content="This blog about some interesting solutions in front-end development as well as about ordinary things described in simplest matter">
	<meta name="author" content="Vladimir Katansky">

	<!-- Stylesheets -->
	<link href="/css/bootstrap.css" rel="stylesheet"/>
	<link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>

	<link href="/css/fancybox/jquery.fancybox.css?v=2.1.4" rel="stylesheet" media="screen"/>
	<link href="/css/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" rel="stylesheet" media="screen"/>
	<link href="/css/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" rel="stylesheet" media="screen"/>
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet"/>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

</head>
<body>
<script type="text/x-handlebars" data-template-name="application">
    <header class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand_logo" href="index.html"></a>

                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {{#link-to 'index' title='Home' tagName='li'}}<a>Home</a>{{/link-to}}
                        {{#link-to 'posts' title='Blog' tagName='li'}}<a>Blog</a>{{/link-to}}
                        {{#link-to 'projects' title='Portfolio' tagName='li'}}<a>Portfolio</a>{{/link-to}}
                        {{#link-to 'contacts' title='About' tagName='li'}}<a>About</a>{{/link-to}}
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        {{outlet}}
    </div>
    <!-- hardcode should be here -->
    <footer>
        <div class="container">
            <div class="footer_inner clearfix">
                <div class="copyright">Blog by <a href="http://www.templatestock.net" target="_blank">Vladimir Katansky</a>
                </div>
                <div class="pull-right social_icons">
                    <a href="http://twitter.com/template_stock"><i class="icon-twitter icon-2x"></i></a>
                    <a href="#"><i class="icon-google-plus icon-2x"></i></a>
                    <a href="http://pinterest.com/templatestock"><i class="icon-pinterest icon-2x"></i></a>
                    <a href="#"><i class="icon-linkedin icon-2x"></i></a>
                    <a href="#" class="go-top"><i class="icon-angle-up icon-2x"></i></a>
                </div>
            </div>
        </div>
    </footer>


</script>
<script type="text/x-handlebars" data-template-name="index">
    <!-- Body -->
        <div class="cont-outer">
            <!-- Carousel -->
            <!--<div id="myCarousel" class="carousel carousel-homepage slide">-->
            <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
            <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
            <!--</ol>-->
            <!--&lt;!&ndash; Carousel items &ndash;&gt;-->
            <!--<div class="carousel-inner">-->
            <!--<div class="active item"><a href="portfolio-4-column.html"><img src="img/blog/carousel/820x512.gif" alt="" /></a></div>-->
            <!--<div class="item"><iframe src="http://player.vimeo.com/video/62122063?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="iframe_home"></iframe></div>-->
            <!--<div class="item"><a href="portfolio-4-column.html"><img src="img/blog/carousel/820x512.gif" alt="" /></a></div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Carousel nav &ndash;&gt;-->
            <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>-->
            <!--<a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>-->
            <!--</div>-->
            <!-- Carousel end -->

            <!-- Portfolio -->
            <div class="portfolio clearfix">
                {{#each recentProjects}}
                    <div class="p1 portfolio-item">
                        <!--<a href="portfolio-4-column.html"></a>-->

                        <div class="overlay"></div>
                        <div class="item">
                            <div class="header">{{title}}</div>
                            <div class="content">{{description}}</div>
                        </div>
                        <img {{bind-attr src="cover"}} alt=""/>
                    </div>
                {{/each}}
            </div>
            <!-- Portfolio end -->

            <div class="separator visible-desktop"></div>
            <div class="sep20 hidden-desktop"></div>

            <!-- Call to Action -->
            <div class="row-fluid action">
                <div class="span10">
                    <p>Check our categories or subscribe now!</p>
                </div>
                <div class="span2">
                    <div class="text-center">
                        <a href="#" title="View Project" class="btn btn-primary btn-large">Subscribe <i
                                    class="icon-angle-right icon-large"></i></a>
                    </div>
                </div>
            </div>
            <!-- Call to Action end -->

            <div class="separator visible-desktop"></div>
            <div class="sep40 hidden-desktop"></div>

            <!-- Projects -->
            <div class="row-fluid projects">

                <!-- Project -->
                <div class="span4 step">
                    <div class="overlay"></div>
                    <a href="portfolio-4-column.html" class="link_button">
                        <i class="icon-link"></i>
                    </a>
                    <a href="img/500x400.gif" class="resize_button fancybox">
                        <i class="icon-fullscreen"></i>
                    </a>
                    <img src="img/332x207.gif" alt=""/>

                    <div class="content">
                        <h4><a href="#">JavaScript Creativity</a></h4>
                        <a href="#">Web development</a>
                    </div>
                </div>
                <!-- Project end -->

                <!-- Project -->
                <div class="span4 step">
                    <div class="overlay"></div>
                    <a href="portfolio-4-column.html" class="link_button">
                        <i class="icon-link"></i>
                    </a>
                    <a href="img/500x400.gif" class="resize_button fancybox">
                        <i class="icon-fullscreen"></i>
                    </a>
                    <img src="img/332x207.gif" alt=""/>

                    <div class="content">
                        <h4><a href="#">Front-End News</a></h4>
                        <a href="#">Featured</a>
                    </div>
                </div>
                <!-- Project end -->

                <!-- Project -->
                <div class="span4 step">
                    <div class="overlay"></div>
                    <a href="portfolio-4-column.html" class="link_button">
                        <i class="icon-link"></i>
                    </a>
                    <a href="img/500x400.gif" class="resize_button fancybox">
                        <i class="icon-fullscreen"></i>
                    </a>
                    <img src="img/332x207.gif" alt=""/>

                    <div class="content">
                        <h4><a href="#">Design Hints</a></h4>
                        <a href="#">Web Design</a>
                    </div>
                </div>
                <!-- Project end -->

            </div>
            <!-- Projects End -->

        </div>
    <!--Body End -->

</script>
<script type="text/x-handlebars" data-template-name="posts">
    <div class="cont-outer">
        <div class="row-fluid blog">

         {{outlet}}

        <!-- Right Side -->
            <div class="span4 right-side">

            <!-- New post -->
			    <div class="block step blog-item visible-desktop visible-tablet">
			        {{#link-to 'posts.create' class="btn btn-success"}} <i class="icon-plus-sign icon-white"></i>   New Post {{/link-to}}
			    </div>

                <!-- Search -->
                <div class="block step visible-desktop visible-tablet">
                    <form class="form-search">
                        <input type="text" placeholder="Search..." class="span12 search-query">
                        <button type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>
                <!-- Search end -->


                <!-- Categories -->
                <div class="block step visible-desktop visible-tablet">
                    <div class="header">
                        <h3>Categories</h3>
                    </div>

                    <div class="area categories">
                        <ul>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Illustration</a></li>
                            <li><a href="#">Arhitecture</a></li>
                            <li><a href="#">Logos</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Categories end -->


                <!-- Twitter Widget -->
                <div class="block step">
                    <div class="header">
                        <h3>Tweets  <i class="icon-twitter"></i></h3>
                    </div>
                    <div class="area">
                        <div id="twitter"></div>
                    </div>
                </div>
                <!-- Twitter Widget end -->


                <!-- Instagram Photos -->
                <div class="block step">
                    <div class="header">
                        <h3>Instagram Widget</h3>
                    </div>
                    <div class="area">
                        <ul id="instagram"></ul>
                    </div>
                </div>
                <!-- Instagram Photos end -->


                <!-- Text Widget -->
                <div class="block step">
                    <div class="header">
                        <h3>Text Widget</h3>
                    </div>
                    <div class="area">
                        <p>Hey, you know what? BAB Creative theme is fully responsive & fluid at the same time! Yeah! This means whatever devices you'll be browsing, the content will always stay perfect, no matter the resolution! </p><br />
                        <p><a class="btn btn-success" href="#"><i class="icon-shopping-cart icon-large"></i> Get BAB Theme Now!</a></p>
                    </div>
                </div>
                <!-- Text Widget end -->

            </div>
            <!-- Right Side end -->

        </div>
    </div>
<!--Body End -->

</script>

<script type="text/x-handlebars" data-template-name="posts/index">

<!-- Blog Items -->
<div class="span4 blog-items first-set">

    <!-- Mobile Hidden Elements -->

    <!-- Search -->
    <div class="block step blog-item hidden-desktop hidden-tablet">
        <form class="form-search">
            <input type="text" placeholder="Search..." class="span12 search-query">
            <button type="submit"><i class="icon-search"></i></button>
        </form>
    </div>
    <!-- Search end -->


    <!-- Categories -->
    <div class="block step blog-item hidden-desktop hidden-tablet">
        <select name="categories" class="categories">
            <option>JavaScript</option>
            <option>Web Design</option>
            <option>HTML</option>
            <option>CSS</option>
            <option>Architecture</option>
            <option>Logos</option>
        </select>
    </div>

    {{#each firstColumn}}
		{{post-thumb post=this removePost="removePost"}}
    {{/each}}

    {{#if showPagination}}
        {{pagination-panel page=page pages=pages}}
    {{/if}}
</div>

<div class="span4 blog-items">
    {{#each secondColumn}}
		{{post-thumb post=this removePost="removePost" }}
    {{/each}}
</div>
</script>

<script type="text/x-handlebars" data-template-name="components/post-thumb">
	<div class="blog-item step">
            <div class="overlay"></div>
            {{#link-to 'post' post class="link_button"}}
                <i class="icon-link"></i>
            {{/link-to}}
            <a {{bind-attr href="post.cover"}} class="resize_button fancybox">
                <i class="icon-fullscreen"></i>
            </a>
            <img {{bind-attr src="post.cover"}} alt="" />
            <div class="content">
                <h4>{{#link-to 'post' post title=post.title}} {{post.title}} {{/link-to}}</h4>
                <i class="icon-folder-open"></i>
                <a href="#" {{bind-attr title="post.category"}}> {{post.category}} </a>
                <span class="action-buttons">
	                <a {{action "removePost"}} class="btn btn-danger" href="#">
								  <i class="icon-trash icon-large"></i></a>
				</span>
            </div>
        </div>
</script>

<script type="text/x-handlebars" data-template-name="post">
<div class="blog-content blog-items">
	<div class="span8">

		<!-- Mobile Hidden Elements -->

		<!-- Search -->
		<div class="block step blog-item hidden-desktop hidden-tablet">
			<form class="form-search">
				<input type="text" placeholder="Search..." class="span12 search-query">
				<button type="submit"><i class="icon-search"></i></button>
			</form>
		</div>
		<!-- Search end -->


		<!-- Categories -->
		<div class="block step blog-item hidden-desktop hidden-tablet">
			<select name="categories">
				<option>Branding</option>
				<option>Web Design</option>
				<option>Photography</option>
				<option>Illustration</option>
				<option>Arсhitecture</option>
				<option>Logos</option>
			</select>
		</div>

		<!-- Categories end -->

		<!-- Mobile Hidden Elements end -->

		{{#if items.length}}
			<!-- Carousel -->
			<div id="myCarousel" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item"><img src="img/blog/carousel/691x431.gif" alt="" /></div>
					<div class="item"><img src="img/blog/carousel/691x431.gif" alt="" /></div>
					<div class="item"><iframe src="http://player.vimeo.com/video/62122063?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="iframe_single_page"></iframe></div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
			</div>
			<!-- Carousel end -->
		{{else}}
			<div class="item">
				<img {{bind-attr src="cover"}} alt="" />
			</div>
		{{/if}}

		{{post-full post=this completeEditing="editPost"}}

	</div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="components/post-full">
<!-- Blog Title & Description -->
		<div {{bind-attr class=":block :step editMode:editing"}}>
			<div class="header">
				{{#if editMode}}
					<label for="editTitle">Title:</label>
					{{edit-text value=post.title class="edit-state" id="editTitle"}}
					<div>
						<label for="editDescr">Description</label>
						{{edit-text value=post.description class="edit-state" id="editDescr"}}
					</div>
					<div>
						<label for="editCat">Category:</label>
						{{edit-text value=post.category class="edit-state" id="editCat"}}
					</div>
					<div>
						<label for="editCover">Cover</label>
						{{view Blog.FileUploadView id="editCover" class="edit-state" name="editCover" contentBinding="content"}}
					</div>
				{{else}}
					<h2>{{post.title}}</h2>
					<a {{action "startEditing"}} class="btn btn-primary" href="#">
						<i class="icon-pencil icon-large"></i>
					</a>
				{{/if}}
			</div>
			<div class="area">
				{{#if editMode}}
					<label for="editArea">Post:</label>
					{{edit-textarea value=post.text class="edit-state" id="editArea"}}
					<a {{action "completeEditing"}} class="btn btn-primary" href="#">
						<i class="icon-ok icon-large"></i></a>
				{{else}}
					<p>{{post.text}}</p>
				{{/if}}
			</div>
		</div>
		<!-- Blog Title & Description end -->

		<!-- Comments
		<div class="block step">
			<div class="header">
				<h3>4 Comments</h3>
			</div>
			<div class="area">

				#Comments
				<ul class="media-list">
					<li class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="img/blog/authors/64x64.gif" alt="">
						</a>
						<div class="media-body">
							<div class="comment-head">
								<h4 class="media-heading">Valarie Jacki</h4>
								<div class="date">21/Feb/2013</div>
							</div>
							<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
							#Nested media object
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" src="img/blog/authors/64x64.gif" alt="">
								</a>
								<div class="media-body">
									<div class="comment-head">
										<h4 class="media-heading">Cory Nigellus</h4>
										<div class="date">21/Feb/2013</div>
									</div>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
									#Nested media object
									<div class="media">
										<a class="pull-left" href="#">
											<img class="media-object" src="img/blog/authors/64x64.gif" alt="">
										</a>
										<div class="media-body">
											<div class="comment-head">
												<h4 class="media-heading">Alexina Kailee</h4>
												<div class="date">21/Feb/2013</div>
											</div>
											<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
										</div>
									</div>
								</div>
							</div>
							#Nested media object
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" src="img/blog/authors/64x64.gif" alt="">
								</a>
								<div class="media-body">
									<div class="comment-head">
										<h4 class="media-heading">Garret Ozzy</h4>
										<div class="date">21/Feb/2013</div>
									</div>
									<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
				#Comments end
			</div>
		</div> -->

		<!-- Comments form
		<div class="block step clearfix">
			<div class="header">
				<h3>Leave a Comment</h3>
			</div>
			<div class="area">
				<form class="form">
					<div class="row-fluid">
						<div class="control-group span6">
							<input id="name" type="text" placeholder="Name (Required)" class="input-block-level">
						</div>
						<div class="control-group span6">
							<input id="email" type="text" placeholder="Email (Required)" class="input-block-level">
						</div>
					</div>
					<div class="row-fluid">
						<textarea rows="6" placeholder="Your Comment" class="span12"></textarea>
					</div>
					<button class="btn btn-primary pull-right" type="submit">Submit</button>
				</form>
			</div>
		</div>
		-->
</script>

<script type="text/x-handlebars" data-template-name="posts/create">
<div class="blog-content blog-items">
	<div class="span8">
		<div class="block step">
			<div class="header">
				<label for="editTitle">Title:</label>
				{{edit-text value=title class="edit-state" id="editTitle"}}
			</div>
			<div>
				<label for="editDescr">Description:</label>
				{{edit-text value=description class="edit-state" id="editDescr"}}
			</div>
			<div>
				<label for="editCat">Category:</label>
				{{edit-text value=category class="edit-state" id="editCat"}}
			</div>
			<div>
				<label for="editCover">Cover:</label>
				{{view Blog.FileUploadView id="editCover" class="edit-state" name="editCover" contentBinding="content"}}
			</div>
			<div class="area">
				<label for="editPost">Post:</label>
				{{edit-textarea value=text class="edit-state" id="editPost"}}
				<a {{action "createUnit"}} class="btn btn-primary" href="#">
					<i class="icon-ok icon-large"></i></a>
			</div>
		</div>
	</div>
</div>
</script>

<script type="text/x-handlebars" data-template-name="projects">
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="projects/index">
<div class="cont-outer portfolio-mix quicksand">

	<div class="row-fluid">
		<div class="span12">
			<h1>Portfolio</h1>
		</div>
	</div>

		<div class="sep20"></div>

		<div class="js-container" data-id="all">

				{{#each mixedContent}}
				<div {{bind-attr class='currentClass'}}>
					{{#link-to 'project' this }}
						<div class="overlay"></div>
			            <div class="item">
					        <div class="header">{{title}}</div>
					        <div class="content">{{description}}</div>
					    </div>
			    	{{/link-to}}
					<img {{bind-attr src="cover"}} alt="" />
				</div>
			{{/each}}
		</div>
		<!-- Portfolio end -->

		</div>
    <!--Body End -->
</script>

<script type="text/x-handlebars" data-template-name="project">
	<div class="cont-outer">

			<!-- Single Page -->
			<h1>Single Page</h1>
			<div class="sep20"></div>
			<div class="row-fluid blog">

				<!-- Content -->
		      	<div class="span8 step">
		      	    {{#if items.length}}
						<!-- Carousel -->
						<div id="myCarousel" class="carousel slide">
						  <ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>
						  </ol>
						  <!-- Carousel items -->
						  <div class="carousel-inner">
						    <div class="active item"><img src="img/blog/carousel/691x431.gif" alt="" /></div>
						    <div class="item"><img src="img/blog/carousel/691x431.gif" alt="" /></div>
						    <div class="item"><iframe src="http://player.vimeo.com/video/62122063?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="iframe_single_page"></iframe></div>
						  </div>
						  <!-- Carousel nav -->
						  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
						  <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
						</div>
						<!-- Carousel end -->
					{{else}}
						<div class="item">
							<img {{bind-attr src="cover"}} alt="" />
						</div>
					{{/if}}

					{{project-full project=this completeEditing="editProject" removeProject="removeProject"}}
		      	</div>
		      	<!-- Right Side -->
		      	<div class="right-side span4">

			        <div class="block step blog-item visible-desktop visible-tablet">
				        {{#link-to 'projects.create' class="btn btn-success"}} <i class="icon-plus-sign icon-white"></i>   New Poject {{/link-to}}
				    </div>

					<!-- Categories -->
					<div class="block step visible-desktop visible-tablet">
						<div class="header">
							<h3>Categories</h3>
						</div>

						<div class="area categories">
							<ul>
								<li><a href="#">Branding</a></li>
								<li><a href="#">Web Design</a></li>
								<li><a href="#">Photography</a></li>
								<li><a href="#">Illustration</a></li>
								<li><a href="#">Arhitecture</a></li>
								<li><a href="#">Logos</a></li>
							</ul>
						</div>
					</div>
					<!-- Categories end -->


					<!-- Instagram Photos -->
					<div class="block step">
						<div class="header">
							<h3>Instagram Widget</h3>
						</div>
						<div class="area">
							<ul id="instagram"></ul>
						</div>
					</div>
					<!-- Instagram Photos end -->
		      	</div>

		      	<!-- Right Side end -->

			</div>
			<!-- Single Page end -->


		</div>
</script>

<script type="text/x-handlebars" data-template-name="components/project-full">
<!-- Blog Title & Description -->
<div {{bind-attr class=":block :step editMode:editing"}}>
	<div class="header">
		{{#if editMode}}
			<label for="editTitle">Title:</label>
			{{edit-text value=project.title class="edit-state" id="editTitle"}}
			<div>
				<label for="editDescr">Description</label>
				{{edit-text value=project.description class="edit-state" id="editDescr"}}
			</div>
			<div>
				<label for="editCover">Cover</label>
				{{view Blog.FileUploadView id="editCover" class="edit-state" name="editCover" contentBinding="content"}}
			</div>
		{{else}}
			<h2>{{project.title}}</h2>
			<a {{action "startEditing"}} class="btn btn-primary" href="#">
				<i class="icon-pencil icon-large"></i>
			</a>
			<a {{action "removeProject"}} class="btn btn-danger" href="#">
				<i class="icon-trash icon-large"></i>
			</a>
		{{/if}}
	</div>
	<div class="area">
		{{#if editMode}}
			<label for="editPost">Post:</label>
			{{edit-textarea value=project.text class="edit-state" id="editPost"}}
			<a {{action "completeEditing"}} class="btn btn-primary" href="#">
				<i class="icon-ok icon-large"></i></a>
		{{else}}
			<p>{{project.text}}</p>
		{{/if}}
	</div>
</div>
<!-- Blog Title & Description end -->
</script>

<script type="text/x-handlebars" data-template-name="projects/create">
<div class="cont-outer">


	<div class="row-fluid blog">

		<!-- Main content -->
		<div class="blog-content blog-items">
			<div class="span8">
				<div class="block step">
					<div class="header">
						<label for="editTitle">Title:</label>
						{{edit-text value=title class="edit-state" id="editTitle"}}
					</div>
					<div>
						<label for="editDescr">Description:</label>
						{{edit-text value=description class="edit-state" id="editDescr"}}
					</div>
					<div>
						<label for="editCover">Cover:</label>
						{{view Blog.FileUploadView id="editCover" class="edit-state" name="editCover" contentBinding="content"}}
					</div>
					<div class="area">
						<label for="ediText">Post:</label>
						{{edit-textarea value=text class="edit-state" id="editText"}}
						<a {{action "createUnit"}} class="btn btn-primary" href="#">
							<i class="icon-ok icon-large"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- Main content end -->

		<!-- Right Side -->
		      	<div class="right-side span4">

			        <div class="block step blog-item visible-desktop visible-tablet">
				        {{#link-to 'projects.create' class="btn btn-success"}} <i class="icon-plus-sign icon-white"></i>   New Poject {{/link-to}}
				    </div>

					<!-- Categories -->
					<div class="block step visible-desktop visible-tablet">
						<div class="header">
							<h3>Categories</h3>
						</div>

						<div class="area categories">
							<ul>
								<li><a href="#">Branding</a></li>
								<li><a href="#">Web Design</a></li>
								<li><a href="#">Photography</a></li>
								<li><a href="#">Illustration</a></li>
								<li><a href="#">Arhitecture</a></li>
								<li><a href="#">Logos</a></li>
							</ul>
						</div>
					</div>
					<!-- Categories end -->


					<!-- Instagram Photos -->
					<div class="block step">
						<div class="header">
							<h3>Instagram Widget</h3>
						</div>
						<div class="area">
							<ul id="instagram"></ul>
						</div>
					</div>
					<!-- Instagram Photos end -->
		      	</div>

		      	<!-- Right Side end -->
	</div>



</div>
</script>

<script type="text/x-handlebars" data-template-name="contacts">
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="contacts/index">
	<!-- Body -->
		<div class="cont-outer">

			<!-- Our Service -->
			<h1>Our Service</h1>
			<div class="sep20"></div>
			<div class="row-fluid">
				<div class="span4 step block">
					<h4><i class="icon-cogs"></i>&nbsp;&nbsp;&nbsp;&nbsp;Front-End Development</h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et massa nec ipsum fermentum ullamcorper. Aliquam turpis felis, ornare nec lobortis sed, pharetra id dui. Donec mollis ullamcorper rutrum. In cursus nunc enim, eget laoreet urna.
				</div>
				<div class="span4 step block">
					<h4><i class="icon-flag"></i>&nbsp;&nbsp;&nbsp;&nbsp;Back-End Development</h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et massa nec ipsum fermentum ullamcorper. Aliquam turpis felis, ornare nec lobortis sed, pharetra id dui. Donec mollis ullamcorper rutrum. In cursus nunc enim, eget laoreet urna.

				</div>
				<div class="span4 step block team">
					<h4><i class="icon-headphones"></i>&nbsp;&nbsp;&nbsp;&nbsp;SQL Development</h4>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et massa nec ipsum fermentum ullamcorper. Aliquam turpis felis, ornare nec lobortis sed, pharetra id dui. Donec mollis ullamcorper rutrum. In cursus nunc enim, eget laoreet urna.
				</div>
			</div>
			<!-- Our Service End -->


			<div class="separator"></div>


			<!-- Our Team -->
			<h1>Our Team</h1>
			<div class="sep20"></div>
			<div class="row-fluid team">
				{{#each content}}
			        <div class="span4 step">
			            <div class="overlay"></div>
			            <a href="index.html" class="tw">
				            <i class="icon-twitter"></i>
			            </a>
			            <a href="index.html" class="fb">
				            <i class="icon-facebook"></i>
			            </a>
			            <img {{bind-attr src="photo"}} alt="" />
			            <div class="content">
			                <h4>{{#link-to 'contact' this}} {{name}} {{/link-to}}</h4>
				                {{direction}}
			            </div>
			        </div>
			    {{/each}}
			</div>
			<!-- Our Team End -->


		</div>
    <!--Body End -->
</script>

<script type="text/x-handlebars" data-template-name="contact">
	<div class="cont-outer">

			<!-- Single Page -->
			<h1>Single Page</h1>
			<div class="sep20"></div>
			<div class="row-fluid blog">

				<!-- Content -->
		      	<div class="span8 step">
		      	    <div class="item">
						<img {{bind-attr src="photo"}} alt="" />
					</div>
						<!-- Blog Title & Description -->
						<div class="block step">
							<div class="header">
								<h2>{{name}}</h2>
							</div>
							<div class="area">
								<p>{{portfolio}}</p>
							</div>
						</div>
						<!-- Blog Title & Description end -->
		      	</div>

		      	<!-- Right Side -->
		      	<div class="right-side span4">
					<!-- Categories -->
					<div class="block step visible-desktop visible-tablet">
						<div class="header">
							<h3>Categories</h3>
						</div>

						<div class="area categories">
							<ul>
								<li><a href="#">Branding</a></li>
								<li><a href="#">Web Design</a></li>
								<li><a href="#">Photography</a></li>
								<li><a href="#">Illustration</a></li>
								<li><a href="#">Arhitecture</a></li>
								<li><a href="#">Logos</a></li>
							</ul>
						</div>
					</div>
					<!-- Categories end -->


					<!-- Instagram Photos -->
					<div class="block step">
						<div class="header">
							<h3>Instagram Widget</h3>
						</div>
						<div class="area">
							<ul id="instagram"></ul>
						</div>
					</div>
					<!-- Instagram Photos end -->
		      	</div>

		      	<!-- Right Side end -->

			</div>
			<!-- Single Page end -->


		</div>
</script>

<script type="text/x-handlebars" data-template-name="components/pagination-panel">
    <!-- Pagination -->
    <div class="pagination visible-desktop visible-tablet">
        <ul>
            <li {{bind-attr class="hasPrevious::sel"}}>
                <a {{action goToPreviousPage}}>&laquo;</a>
            </li>
            {{#if showBefore}}
                {{pagination-page page=1 currentPage=page}}
                <li class="sel"><a>&hellip;</a></li>
            {{/if}}

            {{#each pageNumber in visiblePages}}
                {{pagination-page page=pageNumber currentPage=page}}
            {{/each}}

            {{#if showAfter}}
                <li class="sel"><a>&hellip;</a></li>
                {{pagination-page page=lastPage currentPage=page}}
            {{/if}}
            <li {{bind-attr class="hasNext::sel"}}>
                <a {{action goToNextPage}}>&raquo;</a>
            </li>
        </ul>
    </div>
    <!-- Pagination end -->

</script>

<script type="text/x-handlebars" data-template-name="components/pagination-page">
    <a {{action pageClicked}}>{{page}}</a>
</script>

<script src="/js/all.js"></script>
</body>
</html>