<!-- Body -->
<div class="cont-outer">

    <!-- Our Service -->
    <h1>Our Service</h1>
    <div class="sep20"></div>
    <div class="row-fluid">
        <div class="span4 step block">
            <h4><i class="icon-cogs"></i>&nbsp;&nbsp;&nbsp;&nbsp;Front-End Development</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et massa nec ipsum fermentum ullamcorper. Aliquam turpis felis, ornare nec lobortis sed, pharetra id dui. Donec mollis ullamcorper rutrum. In cursus nunc enim, eget laoreet urna.
        </div>
        <div class="span4 step block">
            <h4><i class="icon-flag"></i>&nbsp;&nbsp;&nbsp;&nbsp;Back-End Development</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et massa nec ipsum fermentum ullamcorper. Aliquam turpis felis, ornare nec lobortis sed, pharetra id dui. Donec mollis ullamcorper rutrum. In cursus nunc enim, eget laoreet urna.

        </div>
        <div class="span4 step block team">
            <h4><i class="icon-headphones"></i>&nbsp;&nbsp;&nbsp;&nbsp;SQL Development</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et massa nec ipsum fermentum ullamcorper. Aliquam turpis felis, ornare nec lobortis sed, pharetra id dui. Donec mollis ullamcorper rutrum. In cursus nunc enim, eget laoreet urna.
        </div>
    </div>
    <!-- Our Service End -->


    <div class="separator"></div>


    <!-- Our Team -->
    <h1>Our Team</h1>
    <div class="sep20"></div>
    <div class="row-fluid team">
        {{#each content}}
            <div class="span4 step">
                <div class="overlay"></div>
                <a href="index.html" class="tw">
                    <i class="icon-twitter"></i>
                </a>
                <a href="index.html" class="fb">
                    <i class="icon-facebook"></i>
                </a>
                <img {{bind-attr src="photo"}} alt="" />
                <div class="content">
                    <h4>{{#link-to 'contact' this}} {{name}} {{/link-to}}</h4>
                    {{direction}}
                </div>
            </div>
        {{/each}}
    </div>
    <!-- Our Team End -->


</div>
<!--Body End -->