<!-- Body -->
<div class="cont-outer">

    <!-- About Author -->
    <h1>Our Team</h1>
    <div class="sep20"></div>
    <div class="row-fluid team">
        {{#each}}
            {{contact-thumb unit=this parentController=controller completeEditing="editContact"}}
        {{/each}}
    </div>
    <!-- About Author -->
    <div class="separator"></div>
    <!-- Areas -->
    <h1>Professional Areas</h1>
    <div class="sep20"></div>
    <div class="row-fluid">
        <div class="span4 step block">
            <h4><i class="icon-picture"></i>&nbsp;&nbsp;&nbsp;&nbsp;Front-End Development</h4>
            About Front-End development
        </div>
        <div class="span4 step block">
            <h4><i class="icon-cogs"></i>&nbsp;&nbsp;&nbsp;&nbsp;Back-End Development</h4>
            About Back-End development
        </div>
        <div class="span4 step block team">
            <h4><i class="icon-headphones"></i>&nbsp;&nbsp;&nbsp;&nbsp;Consultation</h4>
            About Consultations
        </div>
    </div>
    <!-- Areas -->

</div>
<!--Body End -->