<footer>
    <div class="container">
        <div class="footer_inner clearfix">
            <div class="copyright">Blog by
                {{#link-to 'contacts'}}Vladimir Katansky{{/link-to}}
            </div>
            <div class="pull-right social_icons">
                <!-- <a href="http://twitter.com/template_stock"><i class="icon-twitter icon-2x"></i></a> -->
                <a href="http://facebook.com/template_stock"><i class="icon-facebook icon-2x"></i></a>
                <a href="#"><i class="icon-google-plus icon-2x"></i></a>
                <!-- <a href="http://pinterest.com/templatestock"><i class="icon-pinterest icon-2x"></i></a> -->
                <a href="http://github.com/Blackening999"><i class="icon-github icon-2x"></i></a>
                <a href="#"><i class="icon-linkedin icon-2x"></i></a>
                <a href="#" class="go-top"><i class="icon-angle-up icon-2x"></i></a>
            </div>
        </div>
    </div>
</footer>