<footer>
    <div class="container">
        <div class="footer_inner clearfix">
            <div class="copyright">Blog by
                {{#link-to 'contacts'}}Vladimir Katansky{{/link-to}}
            </div>
            <div class="pull-right social_icons">
                 <a href="https://twitter.com/Blackening999"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.facebook.com/pointhomefinal"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="https://plus.google.com/103347953991494792339/posts"><i class="fa fa-google-plus fa-2x"></i></a>
                <a href="https://www.linkedin.com/profile/view?id=275903237"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="http://github.com/Blackening999"><i class="fa fa-github fa-2x"></i></a>
                <a href="#" class="go-top"><i class="fa fa-angle-up fa-2x"></i></a>
            </div>
        </div>
    </div>
</footer>