<div class="cont-outer p404">
    <div class="sign pagination-centered">404</div>
    <div class="txt404 pagination-centered">
        Sorry, But It Looks Like You Find Something That Does Not Exists!
        <a href="#" class="back">Go Back!</a>
    </div>
</div>