<div class="cont-outer">

    <!-- Single Page -->
    <h1>Single Page</h1>
    <div class="sep20"></div>
    <div class="row-fluid blog">

        <!-- Content -->
        <div class="span8 step">
            <div class="item">
                <img {{bind-attr src="photo"}} alt="" />
            </div>
            <!-- Blog Title & Description -->
            <div class="block step">
                <div class="header">
                    <h2>{{name}}</h2>
                </div>
                <div class="area">
                    <p>{{portfolio}}</p>
                </div>
            </div>
            <!-- Blog Title & Description end -->
        </div>

        <!-- Right Side -->
        <div class="right-side span4">
            <!-- Categories -->
            <div class="block step visible-desktop visible-tablet">
                <div class="header">
                    <h3>Categories</h3>
                </div>

                <div class="area categories">
                    <ul>
                        <li><a href="#">Branding</a></li>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Illustration</a></li>
                        <li><a href="#">Arhitecture</a></li>
                        <li><a href="#">Logos</a></li>
                    </ul>
                </div>
            </div>
            <!-- Categories end -->


            <!-- Instagram Photos -->
            <div class="block step">
                <div class="header">
                    <h3>Instagram Widget</h3>
                </div>
                <div class="area">
                    <ul id="instagram"></ul>
                </div>
            </div>
            <!-- Instagram Photos end -->
        </div>

        <!-- Right Side end -->

    </div>
    <!-- Single Page end -->


</div>