<!-- Body -->
<div class="cont-outer">
    <!-- Carousel -->
    <!--<div id="myCarousel" class="carousel carousel-homepage slide">-->
    <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--</ol>-->
    <!-- Carousel items
    <!--<div class="carousel-inner">-->
    <!--<div class="active item"><a href="portfolio-4-column.html"><img src="img/blog/carousel/820x512.gif" alt="" /></a></div>-->
    <!--<div class="item"><iframe src="http://player.vimeo.com/video/62122063?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" class="iframe_home"></iframe></div>-->
    <!--<div class="item"><a href="portfolio-4-column.html"><img src="img/blog/carousel/820x512.gif" alt="" /></a></div>-->
    <!--</div>-->
    <!--<!-- Carousel nav -->
    <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>-->
    <!--<a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="fa fa-angle-right"></i></a>-->
    <!--</div>-->
    <!-- Carousel end -->

    <!-- Portfolio -->
    <div class="portfolio clearfix">
        {{#each recentProjects}}
            <div class="p1 portfolio-item">
                <!--<a href="portfolio-4-column.html"></a>-->

                <div class="overlay"></div>
                <div class="item">
                    <div class="header">{{title}}</div>
                    <div class="content">{{description}}</div>
                </div>
                <img {{bind-attr src="cover"}} alt=""/>
            </div>
        {{/each}}
    </div>
    <!-- Portfolio end -->

    <div class="separator visible-desktop"></div>
    <div class="sep20 hidden-desktop"></div>

    <!-- Call to Action -->
    <div class="row-fluid action">
        <div class="span10">
            <p>Check recent posts now!</p>
        </div>
        <!--<div class="span2">-->
            <!--<div class="text-center">-->
                <!--<a href="#" title="View Project" class="btn btn-primary btn-large">Subscribe <i-->
                        <!--class="fa fa-angle-right fa fa-large"></i></a>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!-- Call to Action end -->

    <div class="separator visible-desktop"></div>
    <div class="sep40 hidden-desktop"></div>

    <!-- Posts -->
    <div class="row-fluid recent-posts">

        {{#each post in recentPosts}}
            {{partial "post/recent"}}
        {{/each}}


    </div>
    <!-- Posts End -->

</div>
<!--Body End -->

